// Default font family for app
$fontfam:Arial, Helvetica, sans-serif;

$grid-breakpoints: (
	mobile: 480px,
	tablet: 1000px,
	widescreen: 1400px
);

@mixin breakpoint-min($key) {
	@media screen and (min-width: map-get($grid-breakpoints, $key)) { @content; }
}

@mixin breakpoint-max($key) {
	@media screen and (max-width: map-get($grid-breakpoints, $key)) { @content; }
}

@mixin breakpoint-minmax($key1, $key2) {
	@media screen 
		and (min-width: map-get($grid-breakpoints, $key1)) 
		and (max-width: map-get($grid-breakpoints, $key2)) {
			@content;
		}
}

// Input box styles, similar to Bootstrap
%input-shared {
	padding:0.5rem;
	font-family:$fontfam;
	font-size:11pt;
	-webkit-appearance:none;
	border-radius:7px;
	border-style:solid;
	border-width:1px;
	border-color:#cdcdcd;

	&:hover {
		border-color:#a6a6a6;
	}

	&:focus {
		outline:none;
	}
}

// Add-on button style for input boxes
%button-shared {
	display:flex;
	align-items:center;
	background-color:#cdcdcd;
	border-radius:0 7px 7px 0;
	border-style:solid;
	border-width:1px;
	border-color:#cdcdcd;

	&:hover {
		border-color:#a6a6a6;
		background-color:#a6a6a6;
	}

	&:focus {
		outline:none;
	}
}
