@import "./shared";

* {
	box-sizing:border-box;
}

html, body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	font-size:11pt;
}

body {
	font-family:$fontfam;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight:normal;
	margin:0;
}

h1 {
	font-size:1.66rem; 
}

h2 {
	font-size:1.33rem; 
	margin:0 0 1rem 0;
}

// Regional map colours
$region-colors:(
	"region-unknown":#dfdfdf, 
	"region-zero":#ffffb3, 
	"region-one":#fed976, 
	"region-two":#feb34f, 
	"region-three":#fd8d3c, 
	"region-four":#fb4e29, 
	"region-five":#e41a1c, 
	"region-six":#b10026, 
);

// Map SVG colouring
path {
	@each $name, $colour in $region-colors {
		&.#{$name} { fill:$colour; stroke:$colour; stroke-width:1; }
	}
}

// Set map overlay pane to blend
.blend-overlay-pane {
	opacity:0.75;
	mix-blend-mode:multiply;
}

// Map legend colouring
.legend {
	display:flex;
	flex-direction:column;
	padding:0.75rem;
	border-radius:0.75rem;
	background-color:white;
	filter:drop-shadow(1px 1px 2px rgba(0,0,0,0.25));

	.keyitem {
		white-space:nowrap;
		display:flex;
		align-items:center;
		
		.colour {
			width:1rem;
			height:1rem;
			border:solid 1px #aaa;
			display:inline-block;
			margin-right:0.5rem;
			background-color:white;

			&>div {
				width:100%;
				height:100%;
				opacity:0.75;
			}

			@each $name, $colour in $region-colors {
				&.#{$name} div { background-color:$colour; }
			}
		}
	
		.label {
			display:inline-block;
		}
	}
}

// Change map popup to be similar to legend
.region-popup{
	.leaflet-popup-content-wrapper, .leaflet-popup-tip {
		filter:drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.5));
		box-shadow:none;
	}

	.leaflet-popup-content span {
		font-weight:bold;
	}
}